html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #252121;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	justify-content: center;
	/* height:95vh; */
}

.controls {
	margin: 1em auto;
	text-align: center;
	color:white;
	background-color: #252121;
	z-index: 1;
}

.controls button {
	margin: auto 1em;
}

#book {
	background-color: #252121;
	margin: auto;
	background-image: url("bookCover.jpg");
	background-size: cover;
}

@media screen and (min-width:500px) {
	#book{
		margin: 1em auto;
	}
}

.page {
	background-color: white;
	overflow:hidden;
}

.page *:not(ul):not(a) {
	padding-left: 20px;
	padding-right: 20px;
	text-align: left
}

.page code {
	padding:0!important;
}
.page pre {
	padding-left:20px!important;
}
.page pre, .page code {
	background-color: #EEE;
}

.page ul, .page ol {
	padding-left:1em;
}

.page ul li {
	padding-left:0.25em;
}

@media screen and (max-width:500px) {
	.page * {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.page img {
	max-width:90%;
	object-fit: contain;
}

mark {
	background-color: #ffff6f;
}

.admonition {
	border:1px solid black;
	border-radius: 5px;
	padding:0!important;
	background-color: #EEE;
}

.admonition.info, .admonition.note, .admonition.spoiler {
	border-color: #1505a1;
	background-color: rgb(194, 225, 235);
}
.admonition.tip, .admonition.success {
	border-color: #02461f;
	background-color: rgb(207 235 194);
}
.admonition.warning, .admonition.danger, .admonition.bug {
	border-color: #b94a48;
	background-color: rgb(241 200 200);
}

.admonitionContent {
	font-size:0.95em;
}

.admonitionTitle {
	font-weight:bold;
	font-size:0.9em;
}

.admonitionTitle:before {
	font-weight: 300;
	margin-right: 0.5em;
	font-size:1.15em;
}

.info .admonitionTitle, .note .admonitionTitle, .spoiler .admonitionTitle {
	color:#0b0258;
}
.info .admonitionTitle:before, .note .admonitionTitle:before, .spoiler .admonitionTitle:before {
	content:"ℹ️";
}
.warning .admonitionTitle:before, .danger .admonitionTitle:before, .bug .admonitionTitle:before {
	content: "⚠️";
}

.tip .admonitionTitle:before, .success .admonitionTitle:before {
	content: "💡";
}

.tip .admonitionTitle, .success .admonitionTitle {
	color:#012e14;
}
.warning .admonitionTitle, .danger .admonitionTitle, .bug .admonitionTitle {
	color:#470302;
}